{{set . "title" "Home"}}
{{template "header.html"}}


<div class="row">
  <div class="col-md-3">
    <img src="/public/img/idb.gif " alt="經濟部工業局" align="middle" height="60">
  </div>
  <div class="col-md-6">6</div>
  <div class="col-md-3">3</div>
</div>

<div class="row">
  <div class ="col-md-12" style="background-color:blue; height:5px"></div>
</div>


<div class="row full">
  <div class="col-md-2" style="height:100%; text-align:center; background:linear-gradient(to right, white 30%,LightSkyBlue)">left</div>
      
  <div class="col-md-10"></div>
</div>

  

{{template "footer.html" .}}
